@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: Poppins;
  background-color: #010101;
  color: #fff;
}

.container {
  width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  text-decoration: underline 8px #FBCE33;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 20px;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact li {
  margin-bottom: 10px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  margin-bottom: 10px;
}

.experience ul {
  list-style-type: none;
  padding: 0;
}

.experience li {
  margin-bottom: 10px;
}

.education ul {
  list-style-type: none;
  padding: 0;
}

.education li {
  margin-bottom: 10px;
}

